# Ignore macOS system files
.DS_Store

# Ignore compiled output directories
dist/
tmp/
out-tsc/
bazel-out/

# Ignore log files
*.log

# Ignore editor directories and files
.vscode/
*.sublime-project
*.sublime-workspace
*.code-workspace

# Ignore build artifacts
build/
staging/
